@use 'sass:color';

$background: #131313;
$background-7: color.mix(#fff, $background, 7%);
$background-9: color.mix(#fff, $background, 9%);
$background-11: color.mix(#fff, $background, 11%);
$background-14: color.mix(#fff, $background, 14%);
$background-16: color.mix(#fff, $background, 16%);

$text-color: #e0e3e2;
$primary: #00dddd;
$primary-dark: #004f4f;
$success-color: #2e7d32;
$error-color: #dc3545;
$error-container: #93000a;
$font-family: 'Open Sans', 'Open Sans fallback', sans-serif;
