<psa-card>
  <div class="h-full">
    <h1 class="text-2xl">{{ 'GRID.header' | translate }}</h1>
    @if (portrait) {
    <div class="flex flex-col gap-4 items-center">
      <mat-icon class="screenRotationSize">screen_rotation</mat-icon>
      <p class="text-xl">{{ 'GRID.landscape' | translate }}</p>
    </div>
    } @else {
    <div class="flex flex-col gap-4">
      <p>{{ 'GRID.component-desc' | translate }}</p>
      <span class="self-end flex flex-row gap-4">
        <button matButton (click)="resetState()">{{ 'GRID.reset-state' | translate }}</button>
        <button matButton (click)="export()">{{ 'GRID.csv-export' | translate }}</button>
      </span>
      <ng-container #outlet>
      </ng-container>
    </div>
    }
  </div>
</psa-card>

<ng-template #content>
  <ag-grid-angular [rowData]="store.countries()" [loading]="loading" [columnDefs]="colDefs" [pagination]="true"
    [paginationPageSize]="paginationPageSize" [initialState]="initialState"
    [paginationPageSizeSelector]="paginationPageSizeSelector" [localeText]="localeText" [theme]="theme"
    style="height: 513px" (gridReady)="onGridReady($event)" (stateUpdated)="updateState($event)" />
</ng-template>