<ng-container *transloco="let t">
  <mat-toolbar color="primary">
    <span class="flex flex-row w-full md:justify-end md:gap-8 md:px-16">
      <span class="flex-1 md:hidden">
        <button matIconButton (click)="onClick()" aria-label="menu">
          <mat-icon>menu</mat-icon>
        </button>
      </span>
      <button matButton="outlined" (click)="openContactDialog()">{{ t('contact') }}</button>
      <span class="flex-1 md:flex-0">
        <psa-lang-switch></psa-lang-switch>
      </span>
    </span>
  </mat-toolbar>
</ng-container>
