.canvas {
  width: 100%;
  height: calc(100% - 224px);
}

@media only screen and (max-width: 767px) {
  .canvas {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}

.grab {
  cursor: grab;
}

.grab:active {
  cursor: grabbing;
}
