<psa-card class="h-full">
  <h1 class="text-2xl mb-4">{{ 'MODEL_3D.header' | translate }}</h1>
  <p class="mb-4">{{ 'MODEL_3D.component-desc' | translate }}</p>
  <div class="flex flex-col md:flex-row gap-8 md:gap-32 justify-center items-center">
    <div class="flex flex-row gap-4 items-center">
      <button matButton="outlined" class="text-nowrap" (click)="loadModel('stylized_ww1_plane')">{{ 'MODEL_3D.plane' |
        translate}}</button>
      <button matButton="outlined" class="text-nowrap" (click)="loadModel('hover_bike')">{{ 'MODEL_3D.hover_bike' |
        translate }}</button>
      <button matButton="outlined" class="text-nowrap" (click)="loadModel('sea_turtle')">{{ 'MODEL_3D.turtle' |
        translate }}</button>
    </div>
    <div class="flex flex-col md:flex-row md:gap-8 gap-4 items-center">
      <mat-slide-toggle checked="true" labelPosition="before" (change)="toggleRotation($event)">{{ 'MODEL_3D.rotation' |
        translate }}</mat-slide-toggle>
      <mat-slide-toggle checked="true" labelPosition="before" (change)="toggleModelAnimation($event)">{{
        'MODEL_3D.model-animation' | translate }}</mat-slide-toggle>
      <div class="flex flex-col w-72">
        <p class="text-sm">{{ 'MODEL_3D.lighting' | translate }}</p>
        <mat-slider min="0" max="10" step="0.1">
          <input matSliderThumb value="5" (input)="changeLightIntensity($event)">
        </mat-slider>
      </div>
    </div>
  </div>
  <div #canvas class="canvas relative">
    <p class="absolute bottom-0 w-full text-center text-xs italic">{{credits}}</p>
  </div>
</psa-card>