@use '@angular/material' as mat;
@use "variables" as var;

html {
  color-scheme: dark;
  @include mat.theme((color: mat.$cyan-palette,
      typography: (brand-family: "Open Sans",
        plain-family: "Open Sans",
      ),
      density: 0));
  --mat-dialog-supporting-text-color: var.$text-color;
  --mat-dialog-supporting-text-size: 1rem;
  --mat-dialog-with-actions-content-padding: 0 2rem;
  --mat-dialog-headline-padding: 0.5rem 2rem 1rem;
  --mat-toolbar-container-background-color: none;
  --mat-toolbar-title-text-size: 16px;

  .success-snackbar {
    --mat-snackbar-supporting-text-color: #ffffff;
    --mat-snackbar-container-color: #198754;
    --mat-snack-bar-button-color: #ffffff;
  }

  .error-snackbar {
    --mat-snackbar-supporting-text-color: #ffffff;
    --mat-snackbar-container-color: #dc3545;
    --mat-snack-bar-button-color: #ffffff;
  }
}