@use "sass:color";

$primary-color: #293d8d;
$accent-color: #d2cb41;

$background: #131313;
$background-5: color.mix(#fff, $background, 5%);
$background-7: color.mix(#fff, $background, 7%);
$background-8: color.mix(#fff, $background, 8%);
$background-9: color.mix(#fff, $background, 9%);
$background-11: color.mix(#fff, $background, 11%);
$background-12: color.mix(#fff, $background, 12%);
$background-14: color.mix(#fff, $background, 14%);

$text-color: #f3f3f3;
$font-family: 'Open Sans', sans-serif;
