<psa-card>
  <h1 class="text-2xl mb-8">Demo formularza</h1>
  <div class="w-full flex flex-row">
    <div class="w-1/2 flex flex-col items-center">
      <form [formGroup]="form" class="flex flex-col gap-4 items-center">
        <p>Pies czy kot?</p>
        <mat-radio-group formControlName="petType">
          <mat-radio-button value="dog">pies</mat-radio-button>
          <mat-radio-button value="cat" class="ml-8">kot</mat-radio-button>
        </mat-radio-group>
        @if (petType === 'cat') {
          <ng-container formGroupName="cat">
            <mat-form-field class="w-80">
              <mat-label>Imię</mat-label>
              <input matInput formControlName="name">
              @if (name?.hasError('required')) {
                <mat-error>Pole wymagane</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="w-80">
              <mat-label>Wiek</mat-label>
              <input matInput type="number" class="number" psaOnlyDigits formControlName="age">
              <mat-hint>Jeśli kot nie skończył jeszcze roku, wpisz 0.</mat-hint>
              @if (age?.hasError('required')) {
                <mat-error>Pole wymagane</mat-error>
              }
              @if (age?.hasError('min') || age?.hasError('max')) {
                <mat-error>Podaj prawdziwy wiek</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="w-80">
              <mat-label>Opis</mat-label>
              <textarea matInput cdkTextareaAutosize maxlength="200" formControlName="description"></textarea>
              <mat-hint align="end">{{descriptionVal?.length}}/200</mat-hint>
            </mat-form-field>
            <mat-form-field class="w-80">
              <mat-label>Data urodzin (jeśli znana)</mat-label>
              <input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="birthday">
              <mat-datepicker-toggle  matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-checkbox labelPosition="before" class="self-end" formControlName="castrated">Wysterylizowany</mat-checkbox>
            <mat-checkbox labelPosition="before" class="self-end" formControlName="purebred">Rasowy</mat-checkbox>
            @if (cat.get('purebred')?.value === true) {
              <mat-form-field class="w-80">
                <mat-label>Rasa</mat-label>
                <input #bred
                       type="text"
                       matInput
                       formControlName="bred"
                       [matAutocomplete]="auto"
                       (input)="filterBred()"
                       (focus)="filterBred()">
                <mat-autocomplete requireSelection #auto="matAutocomplete">
                  @for (option of filteredOptions; track option) {
                    <mat-option [value]="option">{{option}}</mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            }
            <mat-form-field class="w-80">
              <mat-label>Ulubione zabawki</mat-label>
              <mat-chip-grid #chipGrid formControlName="toys">
                @for (toy of toys(); track toy) {
                  <mat-chip-row (removed)="removeToy(toy)">
                    {{toy}}
                    <button matChipRemove>
                      <mat-icon fontIcon="cancel"></mat-icon>
                    </button>
                  </mat-chip-row>
                }
              </mat-chip-grid>
              <input
                placeholder="Nowa zabawka..."
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputFor]="chipGrid"
                (matChipInputTokenEnd)="addToy($event)"
              />
            </mat-form-field>
            <div class="flex flex-col gap-6 w-80">
              <mat-label>Piękno</mat-label>
              <mat-slider min="0" max="10" step="1" discrete>
                <input matSliderThumb formControlName="beauty">
              </mat-slider>
            </div>
            <div class="flex flex-col gap-6 w-80">
              <mat-label>Złośliwość</mat-label>
              <mat-slider min="0" max="10" step="1" discrete>
                <input matSliderThumb formControlName="malice">
              </mat-slider>
            </div>
            <span class="w-full flex flex-row justify-end gap-4">
              <button mat-button type="button" (click)="reset()">Resetuj</button>
              <button mat-flat-button type="button" (click)="check()">Sprawdź</button>
            </span>
          </ng-container>

        }
      </form>
    </div>
    <div class="divider"></div>
    <div class="w-1/2 ml-8 flex flex-col gap-8">
      <p>Model formularza:</p>
      <pre class="whitespace-pre-wrap">
      {{form.getRawValue() | json}}
    </pre>
    </div>
  </div>
</psa-card>
