<ng-container *transloco="let t; prefix: 'LIST'">
  <psa-card>
    <h1 class="text-3xl mb-6">{{ t('header') }}</h1>
    <div class="flex flex-col gap-4 items-center">
      <p class="mb-4">{{ t('component-desc') }}</p>
      <p class="text-lg">{{ t('hello') }}</p>
      <div class="flex flex-col md:flex-row gap-16">
        <div class="psa-list">
          <psa-list
            [data]="store.rooms().data"
            [itemHeight]="72"
            (fetchMore)="fetchMoreRooms()"
            (selected)="selectRoom($event)"
          >
            <ng-template listItemTemplate let-dataItem>
              <span class="flex flex-row justify-between items-center">
                <p [ngClass]="dataItem.roomNumber === 666 ? 'hell' : ''">
                  {{ t('room-number') }} {{ dataItem.roomNumber }}
                </p>
                @if (dataItem.booked) {
                  <p class="booked">{{ t('reservation') }}</p>
                }
              </span>
            </ng-template>
          </psa-list>
        </div>
        <div class="flex flex-col gap-4 w-72">
          <p>{{ t('selected-room') }}</p>
          @if (store.selectedRoom().roomNumber > 0) {
            <psa-card>
              <p class="mb-4">{{ t('room-nr') }} {{ store.selectedRoom().roomNumber }}</p>
              <span class="flex flex-row gap-4">
                @if (!store.selectedRoom().booked) {
                  <button matButton (click)="cancel()">{{ t('cancel') }}</button>
                  <button matButton (click)="book()">{{ t('reserve') }}</button>
                } @else {
                  <button matButton (click)="cancel()">{{ t('cancel') }}</button>
                  <button matButton (click)="deleteReservation(store.selectedRoom())">
                    {{ t('delete-reservation') }}
                  </button>
                }
              </span>
            </psa-card>
          }
        </div>
        <div class="flex flex-col gap-4 w-56">
          <p>{{ t('your-reservations') }}</p>
          @if (store.bookedRooms().length > 0) {
            <psa-card>
              @for (room of store.bookedRooms(); track room.roomNumber) {
                <div class="flex flex-row items-center">
                  <p class="text-base w-28">{{ t('room-nr') }} {{ room.roomNumber }}</p>
                  <button matIconButton aria-label="Delete reservation" (click)="deleteReservation(room)">
                    <mat-icon class="pb-1">delete_outline</mat-icon>
                  </button>
                </div>
              }
            </psa-card>
          }
        </div>
      </div>
    </div>
  </psa-card>
</ng-container>
