
.content {
  min-height: calc(100vh - 96px - 2rem);
  margin: 1rem;
}

.footer {
  margin-top: auto;
  text-align: center;
  font-size: 12px;
}
/*
@media only screen and (min-width: 992px) {
  .content {
    min-height: calc(100vh - 64px - 1rem);
    margin: 1rem 1rem 0 2rem;
  }
}*/
