@use "variables" as ver;

.divider {
  height: 100%;
  width: 1px;
  background-color: rebeccapurple;
}

.footer {
  margin-top: auto;
  margin-bottom: 2px;
  text-align: center;
  font-size: 8px;
}

mat-sidenav {
  width: 200px;
}

.mat-drawer-container {
  background-color: transparent;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 0 2rem;
}
