@if (isMobile) {
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    @defer (hydrate on idle) {
    <psa-menu (navigate)="sidenav.close()"></psa-menu>
    }
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="h-dvh flex flex-col gap-4">
      @defer (hydrate on idle) {
      <psa-header [isMobile]="isMobile" (open)="sidenav.open()"></psa-header>
      }
      <div class="w-full" role="main">
        <router-outlet></router-outlet>
      </div>
      <ng-container [ngTemplateOutlet]="footer"></ng-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

} @else {
<div class="h-dvh flex flex-col gap-4">
  @defer (hydrate on idle) {
  <psa-header [isMobile]="isMobile"></psa-header>
  }
  <div class="flex flex-row h-full gap-8 mx-8">
    @defer (hydrate on idle) {
    <psa-menu></psa-menu>
    }
    <div class="divider"></div>
    <div class="w-full" role="main">
      <router-outlet></router-outlet>
    </div>
  </div>
  <ng-container [ngTemplateOutlet]="footer"></ng-container>
</div>
}

<ng-template #footer>
  <div class="footer">
    <p>&copy; {{ date.getFullYear() }} Piotr Sawicki</p>
    <a href="https://pl.freepik.com">Image by kjpargeter on Freepik</a>
  </div>
</ng-template>