@use "variables" as var;

.divider {
  height: 100%;
  width: 1px;
  min-width: 1px;
  background-color: var.$primary-dark;
}

.footer {
  margin-top: auto;
  padding-bottom: 4px;
  text-align: center;
  font-size: 8px;
}

mat-sidenav {
  width: 200px;
}

.mat-drawer-container {
  background-color: transparent;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 1rem 2rem 0;
}