@use '@angular/material' as mat;

@include mat.core();

$custom-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$violet-palette,
  ),
));

html {
  @include mat.core-theme($custom-theme);
  @include mat.button-theme($custom-theme);
}
