@use 'variables' as var;

.list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  scrollbar-width: thin;
}

.card {
  padding: 24px 32px;
  border-radius: 4px;
  border-right: solid 1px rgba(255, 255, 255, 0.12);
  background-color: var.$background-9;
  margin: 8px;
  cursor: pointer;

  &__selected {
    @extend .card;
    background-color: var.$background-16;
  }
}
