<ng-container *transloco="let t; prefix: 'MODEL_3D'">
  <psa-card class="h-full">
    <h1 class="text-3xl mb-6">{{ t('header') }}</h1>
    <p class="mb-4">{{ t('component-desc') }}</p>
    <div class="flex flex-col md:flex-row gap-8 md:gap-32 justify-center items-center">
      <div class="flex flex-row gap-4 items-center">
        <button matButton="outlined" class="text-nowrap" (click)="loadModel('stylized_ww1_plane')">
          {{ t('stylized_ww1_plane') }}
        </button>
        <button matButton="outlined" class="text-nowrap" (click)="loadModel('hover_bike')">
          {{ t('hover_bike') }}
        </button>
        <button matButton="outlined" class="text-nowrap" (click)="loadModel('sea_turtle')">
          {{ t('sea_turtle') }}
        </button>
      </div>
      <div class="flex flex-col md:flex-row md:gap-8 gap-4 items-center">
        <mat-slide-toggle checked="true" labelPosition="before" (change)="toggleRotation($event)"
          >{{ t('rotation') }}
        </mat-slide-toggle>
        <mat-slide-toggle checked="true" labelPosition="before" (change)="toggleModelAnimation($event)">{{
          t('model-animation')
        }}</mat-slide-toggle>
        <div class="flex flex-col w-72">
          <p class="text-sm">{{ t('lighting') }}</p>
          <mat-slider min="0" max="10" step="0.1">
            <input matSliderThumb value="5" (input)="changeLightIntensity($event)" />
          </mat-slider>
        </div>
      </div>
    </div>
    <div #canvas class="canvas relative grab">
      <p class="absolute bottom-0 w-full text-center text-xs italic">{{ credits() }}</p>
    </div>
  </psa-card>
</ng-container>
