<psa-card>
  <div>
    <h1 class="text-2xl">{{'hello' | translate}},</h1>
    <p class="text-base">nazywam się Piotr Sawicki, a to moja strona w formie technologicznego demo.<br>Nie wiem co tu dalej napisać. Może wypiszę zastosowane technologie i rozwiązania na stronie, bo jest się czym pochwalić.</p>
    <mat-list role="list" class="ml-4">
      <mat-list-item role="listitem">Angular 18</mat-list-item>
      <mat-list-item role="listitem">Signals</mat-list-item>
      <mat-list-item role="listitem">Zone-less</mat-list-item>
      <mat-list-item role="listitem">Tailwind CSS</mat-list-item>
      <mat-list-item role="listitem">Angular Material 3</mat-list-item>
      <mat-list-item role="listitem">NgRx (jeszcze nie)</mat-list-item>
      <mat-list-item role="listitem">Cypress (jeszcze nie)</mat-list-item>
    </mat-list>
    <span class="flex flex-row items-center">
       <p>Link do repozytorium strony: </p>
      <a mat-button href="https://github.com/psawicki4/psawicki4.github.io" target="_blank">Link</a>
    </span>

  </div>
</psa-card>
