.name {
  font-family: 'Oooh Baby', 'Oooh Baby fallback', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  line-height: 1.5;
  display: inline-block;
  width: 240px;
  height: 72px;
}

.mat-mdc-button.link {
  padding-bottom: 4px;
}
