@use 'variables' as var;
@use 'sass:color';

:host {
  display: block;
  padding: 32px;
  border-radius: 8px;
  border-right: solid 1px rgba(255, 255, 255, 0.12);
  border-left: solid 1px rgba(255, 255, 255, 0.12);
  background-color: color.adjust(var.$background-9, $alpha: -0.8);
  backdrop-filter: blur(10px);
}

@media only screen and (max-width: 767px) {
  :host {
    padding: 16px;
  }
}
