<h2 mat-dialog-title class="pb-8">{{ 'CONTACT.contact' | translate }}</h2>
<mat-dialog-content>
  <div class="flex flex-col gap-10">
    <p>{{ 'CONTACT.content' | translate }}</p>
    <span class="email text-2xl" reverseMail>ved.ikciwasp<b>asdgasd</b>&#64;tkatnok<b>ggsasc</b></span>
    <div class="pb-1">
      <span class="flex flex-row items-center">
        <p>LinkedIn: </p>
        <a mat-button href="https://www.linkedin.com/in/psawickidev/" target="_blank">Link</a>
      </span>
      <span class="flex flex-row items-center">
        <p>GitHub: </p>
        <a mat-button href="https://github.com/psawicki4" target="_blank">Link</a>
      </span>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{ 'CONTACT.close' | translate }}</button>
</mat-dialog-actions>
