@import '~normalize.css';
@import "styles/custom-mat-theme";
@import "variables";
@import "app/layout/flex/layout";

html {
  scrollbar-color: grey $background;
  scrollbar-width: thin;
  ::-webkit-scrollbar {
    width: 7.5px;
    height: 7.5px;
  }
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-corner {
    background: $background;
  }
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-right: 1px solid $background;
    border-bottom: 1px solid $background;
    &:hover {
      background: #676767;
    }
    &:active {
      background: #393939;
    }
  }
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  font-family: $font-family;
  background-color: $background;
  color: $text-color;
}

