@use 'styles/custom-theme';
@use 'styles/variables' as var;
@use 'tailwindcss';

html {
  line-height: 1.5;
  scrollbar-color: grey var.$background;
  scrollbar-width: thin;

  ::-webkit-scrollbar {
    width: 7.5px;
    height: 7.5px;
  }

  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-corner {
    background: var.$background;
  }

  ::-webkit-scrollbar-thumb {
    background: grey;
    border-right: 1px solid var.$background;
    border-bottom: 1px solid var.$background;

    &:hover {
      background: #676767;
    }

    &:active {
      background: #393939;
    }
  }
}

body {
  min-height: 100dvh;
  box-sizing: border-box;
  font-family: var.$font-family;
  color: var.$text-color;
}

.bg-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var.$background;
  background-image: url('assets/desktop.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

@media only screen and (max-width: 640px) {
  .bg-fixed {
    background-image: url('assets/mobile.webp');
    will-change: transform;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
  }
}
