<ng-container *transloco="let t; prefix: 'MENU'">
  <mat-nav-list class="menu-list">
    <a
      mat-list-item
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="onClick()"
      >{{ t('home') }}</a
    >
    <a
      mat-list-item
      routerLink="/form"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="onClick()"
      >{{ t('form') }}</a
    >
    <a
      mat-list-item
      routerLink="/list"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="onClick()"
      >{{ t('list') }}</a
    >
    <a
      mat-list-item
      routerLink="/grid"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="onClick()"
      >{{ t('grid') }}</a
    >
    <a
      mat-list-item
      routerLink="/model-3d"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="onClick()"
      >{{ t('model-3d') }}</a
    >
  </mat-nav-list>
</ng-container>
