@use 'variables' as var;

.menu-list {
  min-width: 150px;
}

.active {
  background-color: var.$background-9;
}

@media (max-width: 992px) {
  .mdc-list-item:focus::before {
    background: transparent;
  }
}
