<mat-nav-list class="menu-list">
   <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      (click)="onClick()">{{ 'MENU.home' | translate }}</a>
   <a mat-list-item routerLink="/form" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      (click)="onClick()">{{ 'MENU.form' | translate }}</a>
   <a mat-list-item routerLink="/list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      (click)="onClick()">{{ 'MENU.list' | translate }}</a>
   <a mat-list-item routerLink="/grid" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      (click)="onClick()">{{ 'MENU.grid' | translate }}</a>
   <a mat-list-item routerLink="/model-3d" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      (click)="onClick()">{{ 'MENU.model-3d' | translate }}</a>
</mat-nav-list>