<h1>{{'hello' | translate}}</h1>
<p>nazywam się Piotr Sawicki i chciałbym Ci pokazać co potrafię napisać w Angularze</p>
<ng-container *notMobile>
  <svg *ngIf="(language$ | async) === 'pl'" class="colors_text" viewBox="0 0 94.071 51.575" xmlns="http://www.w3.org/2000/svg">
    <g transform="translate(-47.932 -93.729)">
      <path d="m52.555 126.22c-14.838-16.844 20.882-8.6372 20.637-26.556" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width=".91679"/>
      <text transform="rotate(-5.4084)" x="127.69608" y="134.85388" fill="#f3f3f3" font-family="'Segoe Print'" font-size="11.289px" stroke-width=".26458" text-anchor="end" xml:space="preserve"><tspan x="127.69608" y="134.85388" text-align="end">Możesz zmienić</tspan><tspan x="127.69608" y="148.96513" text-align="end">kolory</tspan></text>
    </g>
    <path d="m25.312-0.0090932-3.016 7.4693c1.8702-2.2717 4.0653-2.1954 5.9602 0z" fill="currentColor"/>
  </svg>

  <svg *ngIf="(language$ | async) === 'en'" class="colors_text" viewBox="0 0 94.071 51.575" xmlns="http://www.w3.org/2000/svg">
    <g transform="translate(-47.932 -93.729)">
      <path d="m52.555 126.22c-14.838-16.844 20.882-8.6372 20.637-26.556" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width=".91679"/>
      <text transform="rotate(-5.4084)" x="128.64323" y="134.94356" fill="#f3f3f3" font-family="'Segoe Print'" font-size="11.289px" stroke-width=".26458" text-anchor="end" xml:space="preserve"><tspan x="128.64323" y="134.94356" text-align="end">You can change</tspan><tspan x="128.64323" y="149.05481" text-align="end">the colors</tspan></text>
    </g>
    <path d="m25.241-5.3467e-4 -3.016 7.4693c1.8702-2.2717 4.0653-2.1954 5.9602 0z" fill="currentColor"/>
  </svg>
</ng-container>

<ng-container *mobileOnly>
  <svg *ngIf="(language$ | async) === 'pl'" class="colors_text--mobile" viewBox="0 0 94.071 51.575" xmlns="http://www.w3.org/2000/svg">
    <g transform="translate(-47.932 -93.729)">
      <path d="m52.555 126.22c-17.375-14.73 26.168-11.914 10.171-28.353" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width=".91679"/>
      <text transform="rotate(-5.4084)" x="127.69608" y="134.85388" fill="#f3f3f3" font-family="'Segoe Print'" font-size="11.289px" stroke-width=".26458" text-anchor="end" xml:space="preserve"><tspan x="127.69608" y="134.85388" text-align="end">Możesz zmienić</tspan><tspan x="127.69608" y="148.96513" text-align="end">kolory</tspan></text>
    </g>
    <path d="m10.455 0.037141 3.1963 7.394c-0.30266-2.9269 1.2938-4.4353 4.1875-4.2414z" fill="currentColor"/>
  </svg>

  <svg *ngIf="(language$ | async) === 'en'" class="colors_text--mobile" viewBox="0 0 94.071 51.575" xmlns="http://www.w3.org/2000/svg">
    <g transform="translate(-47.932 -93.729)">
      <path d="m52.555 126.22c-17.375-14.73 26.168-11.914 10.171-28.353" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width=".91679"/>
      <text transform="rotate(-5.4084)" x="260.46078" y="134.46916" fill="#f3f3f3" font-family="'Segoe Print'" font-size="11.289px" stroke-width=".26458" text-anchor="end" xml:space="preserve"><tspan x="128.86235" y="134.46916" text-align="end"><tspan x="128.86235" y="134.46916" fill="#f3f3f3" font-family="'Segoe Print'" stroke-width=".26458" text-align="end" text-anchor="end">You can change</tspan></tspan><tspan x="128.86235" y="148.58041" text-align="end">the colors</tspan></text>
    </g>
    <path d="m10.509 0.0075616 3.1963 7.394c-0.30266-2.9269 1.2938-4.4353 4.1875-4.2414z" fill="currentColor"/>
  </svg>
</ng-container>
